{% extends "base.html" %}
{% block content %}
{% load static %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEDm26SfSzXWNO4H5F3hkpOlS302tVRTc&callback=initMap&libraries=&v=weekly">
</script>
<script src="{% static 'google-map.js' %}"></script>

    <div class="container">
        <div id="title-1" class="container-sm">
<!--            <h1> Welcome to PyFleet! </h1>-->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-5 ">
                <h2> Company news feed: </h2>
            </div>
            <div class="col-sm">
                <H2> Where are our trucks now: </H2>
            </div>
        </div>

        <div class="row">
            <div class="col-5 my-3">

                {% for post in posts %}
                    {% if forloop.counter < 5 %}
                        <article class="media content-section my-3 ">
                          <div class="media-body">
                              <h2><a class="article-title" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                              <p class="post-text">{{ post.content }}</p>
                              <div class="article-metadata">
                              <a class="mr-2" href="{% url 'employee_detail' post.author.pk %}">{{ post.author }}</a>
                              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                              </div>

                          </div>
                        </article>
                    {% endif %}
                {% endfor %}
                <div class="row">
                    <div class="col-sm">
                        <a class="mr-2" href="{% url 'post_create' %}">Want to share news?</a>
                    </div>
                    <div class="col-sm">
                        <a class="mr-2" href="{% url 'post_list' %}">Full list of articles</a>
                    </div>
                </div>
            </div>

            <div class="col-sm my-3">

                <div id="map"></div>
            </div>
        </div>
    </div>

{% endblock content %}

#eee