{% extends "base.html" %}
{% block content %}
{% load static %}

    <div class="container">
        <div id="title-1" class="container-sm">
        </div>
    </div>
    <div class="container">


        <div class="row">
            <div class="col-sm py-md-3">

                {% for post in object_list %}

                        <article class="media content-section py-md-2 ">
                          <div class="media-body">
                              <h2><a class="article-title" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                              <div class="article-metadata">
                                <a class="mr-2" href="{% url 'employee_detail' post.author.pk %}">{{ post.author }}</a>
                                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                              </div>
                              <p class="article mb-4">{{ post.content }}</p>
                          </div>
                        </article>

                {% endfor %}
                <div class="row">
                    <div class="col-sm">
                        <a class="mr-2" href="{% url 'post_create' %}">Want to share news?</a>
                    </div>
                    <div class="col-sm">
                        <a class="mr-2" href="{% url 'post_list' %}">Back to top</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}