{% extends "base.html" %}
{% block content %}
{% load static %}

    <div class="container">
        <div class="container-sm py-md-3">
            <h1> Welcome to PyFleet news center! </h1>
        </div>
    </div>
    <div class="container">


        <div class="row">
            <div class="col-sm py-md-3">

                {% for post in posts %}

                        <article class="media content-section py-md-2 ">
                          <div class="media-body">
                            <div class="article-metadata">
                              <a class="mr-2" href="{% url 'employee_detail' post.author.pk %}">{{ post.author }}</a>
                              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                            </div>
                            <h2><a class="article-title" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                            <p class="article">{{ post.content }}</p>
                          </div>
                        </article>

                {% endfor %}
                <div class="row">
                    <div class="col-sm">
                        <a class="mr-2" href="{% url 'post_create' %}">Want to share news?</a>
                    </div>
                    <div class="col-sm">
                        <a class="mr-2" href="{% url 'post_list' %}">Back to top</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}