{% load bootstrap4 %}
{% load static %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>PyFleet</title>
      {% block styles %}{% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'style.css'%}" type="text/css">
      {% endblock %}
      {% block scripts %}{% bootstrap_javascript jquery='full' %}
      <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEDm26SfSzXWNO4H5F3hkpOlS302tVRTc&callback=initMap">
      </script>
      <script src="{% static 'google-map.js' %}"></script>

      {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container fixed">
        <a class="navbar-brand" href="{% url 'index' %}">PyFleet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">
              Home
            </a>
            <div class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="{% url 'employee_list' %}" data-toggle="dropdown">
                Employees
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'employee_list' %}">List</a>
                <a class="dropdown-item" href="{% url 'employee_create' %}">Create</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="{% url 'customer_list' %}" data-toggle="dropdown">
                Customers
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'customer_list' %}">List</a>
                <a class="dropdown-item" href="{% url 'customer_create' %}">Create</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="{% url 'order_list' %}" data-toggle="dropdown">
                Orders
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'order_list' %}">List</a>
                <a class="dropdown-item" href="{% url 'order_create' %}">Create</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="{% url 'truck_list' %}" data-toggle="dropdown">
                Trucks
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'truck_list' %}">List</a>
                <a class="dropdown-item" href="{% url 'truck_create' %}">Create</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" id="dropdown05" href="{% url 'daily_routes' %}" data-toggle="dropdown">
                Daily Routes
              </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'daily_routes' %}">List</a>
              <a class="dropdown-item" href="{% url 'daily_route_create' %}">Create</a>
            </div>
            </div>
          </div>
          <div class="navbar-nav ml-auto">
            <div class="nav-item dropdown">
              {% if user.is_authenticated %}
                <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">
                  {% if user.first_name %}Hello, {{ user.first_name }}!
                  {% else %}Hello, {{ user.username }}!{% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item text-right" href="#">Logout</a>
                  <a class="dropdown-item text-right" href="#">Change Password</a>
                </div>
              {% else %}
                <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">
                  You are not logged in.
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item text-right" href="#">Login</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>

</html>
