{% extends "base.html" %}

{% load bootstrap4 %}
{% load customer_extras %}

{% block content %}
  {{ customer|attr_as_p:'company_name' }}
  {{ customer|attr_as_p:'email' }}
  {{ customer|attr_as_p:'phone' }}
  {{ customer|attr_as_p:'NIP' }}
  {{ customer|attr_as_p:'billing_address' }}

<div class="container-sm py-md-5">
    <h5>Need to edit?</h5>
    <p><small>
        <a href="{% url 'customer_update' customer.pk %}">update</a> /
        <a href="{% url 'customer_delete' customer.pk %}">delete</a></small>
    </p>
</div>

{% endblock %}