{% extends "base.html" %}
{% load employee_extras %}
{% load bootstrap4 %}

{% block content %}
    <h1>PyFleet Our Employees</h1>
    <h2 class="text-muted mb-4"><small>List of our current employees, for details and edits please use links below</small></h2>
    <ul>
        {% for employee in object_list %}
            {% if employee.id != 1 %}
              <li>
                {% employee_format employee short=False %}
                  {% if user.is_staff %}
                  <p class="mb-3"><small>
                    <a href="{% url 'employee_detail' employee.pk %}">detail</a> /
                    <a href="{% url 'employee_update' employee.pk %}">update</a> /
                    <a href="{% url 'employee_delete' employee.pk %}">delete</a></small>
                  </p>
                  {% endif %}
              </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}