{% extends "base.html" %}

{% load bootstrap4 %}
{% load employee_extras %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
        {% if employee.photo %}
            <img src="{{ employee.photo.url }}" class="img-fluid rounded" alt="photo">
        {% endif %}
    </div>
    <div class="col-sm">
        <h2>Employee data: </h2>
      {{ employee|attr_as_p:'name' }}
      {{ employee|attr_as_p:'surname' }}
      {{ employee|attr_as_p:'role' }}
      {{ employee|attr_as_p:'birth_date' }}
      {{ employee|attr_as_p:'salary' }}
      {{ employee|attr_as_p:'address' }}
      <h2>User profile: </h2>
        <p><strong>Account name:</strong> {{ employee.user.username }} </p>
    </div>
  </div>
</div>



<div class="container-sm py-md-5">
    <h5>Need to edit?</h5>
    <p><small>
        <a href="{% url 'employee_update' employee.pk %}">update</a> /
        <a href="{% url 'employee_delete' employee.pk %}">delete</a></small>
    </p>
</div>

{% endblock %}