{% extends "base.html" %}

{% load bootstrap4 %}
{% load employee_extras %}

{% block content %}
  {{ employee|attr_as_p:'name' }}
  {{ employee|attr_as_p:'surname' }}
  {{ employee|attr_as_p:'role' }}
  {{ employee|attr_as_p:'birth_date' }}
  {{ employee|attr_as_p:'salary' }}
  {{ employee|attr_as_p:'address' }}

<div class="container-sm py-md-5">
    <h5>Need to edit?</h5>
    <p><small>
        <a href="{% url 'employee_update' employee.pk %}">update</a> /
        <a href="{% url 'employee_delete' employee.pk %}">delete</a></small>
    </p>
</div>

{% endblock %}