{% extends "base.html" %}
{% load order_extras %}
{% load bootstrap4 %}

{% block content %}
    <h1>PyFleet - Orders</h1>
    <h2 class="text-muted mb-4"><small>List of our current orders, for details and edits please use links below</small></h2>
    <ul>
        {% for order in object_list %}
            {% if order.order_id != 1 %}
              <li>
                {% order_format order short=False %}
                  <p class="mb-4"><small>
                    <a href="{% url 'order_detail' order.pk %}">detail</a>
                      {% if user.is_staff %} /
                    <a href="{% url 'order_update' order.pk %}">update</a> /
                    <a href="{% url 'order_delete' order.pk %}">delete</a>
                      {% endif %}
                        </small>
                  </p>
              </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}