{% extends "base.html" %}

{% load bootstrap4 %}
{% load order_extras %}

{% block content %}
  {{ order|attr_as_p:'order_id' }}
  {{ order|attr_as_p:'order_date' }}
  {{ order|attr_as_p:'route_type' }}
  {{ order|attr_as_p:'load_type' }}
  {{ order|attr_as_p:'status' }}
  {{ order|attr_as_p:'customer' }}
  <p><strong>Trucks:</strong></p>
          {% for truck in order.truck.all %}
            <li>{{ truck }}</li>
          {% endfor %}
<div class="container-sm py-md-5">
    <h5>Need to edit?</h5>
    <p><small>
        <a href="{% url 'order_update' order.pk %}">update</a> /
        <a href="{% url 'order_delete' order.pk %}">delete</a></small>
    </p>
</div>



{% endblock %}