{% extends "base.html" %}
{% load static %}

{% load bootstrap4 %}
{% load truck_extras %}
{% block content %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEDm26SfSzXWNO4H5F3hkpOlS302tVRTc&callback=initMap&libraries=&v=weekly">
</script>
<script src="{% static 'google-map-detail.js' %}"></script>

<div class="container">
  <div class="row">
    <div class="col-sm">
        {% if truck.photo %}
            <img src="{{ truck.photo.url }}" class="img-fluid rounded" alt="photo">
        {% endif %}
    </div>
    <div class="col-sm">
  {{ truck|attr_as_p:'model_name' }}
  {{ truck|attr_as_p:'production_date' }}
  {{ truck|attr_as_p:'company_registration_date' }}
  {{ truck|attr_as_p:'vin' }}
  {{ truck|attr_as_p:'reg_number' }}
  {{ truck|attr_as_p:'availability' }}
  {{ truck|attr_as_p:'odometer' }}
  {{ truck|attr_as_p:'service_interval' }}
  {{ truck|attr_as_p:'type' }}
  {{ truck|attr_as_p:'max_load' }}
  {{ truck|attr_as_p:'description' }}
    </div>
  </div>
</div>




<div class="container-sm py-md-5">
    <h5>Need to edit?</h5>
    <p><small>
        <a href="{% url 'truck_update' truck.pk %}">update</a> /
        <a href="{% url 'truck_delete' truck.pk %}">delete</a></small>
    </p>
</div>
<div class="container">
    <div class="row">
        <h5 class="col-sm"> Where is the truck now? (GPS track placeholder)</h5>
    </div>

    <div class="row">
        <div class="col-sm">
            <div id="map"></div>

        </div>
    </div>
</div>

{% endblock %}
