{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
    <h1>PyFleet Our Trucks</h1>
    <ul>
        {% for truck in truck_list %}
            {% if truck.id != 1 %}
                <li>
                     Model: <strong>{{ truck.model_name }} </strong> Production: {{ truck.production_date }}, Type: {{ truck.type }}, Reg. number: {{ truck.reg_number }}
                    <p><small>
                        <a href="{% url 'truck_detail' truck.pk %}">detail</a> /
                        <a href="{% url 'truck_update' truck.pk %}">update</a> /
                        <a href="{% url 'truck_delete' truck.pk %}">delete</a></small>
                    </p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}