/* CSS Document */

#map {
	height: 500px;
	width: 80%;
	margin: auto;
	padding-bottom: 2em;
	margin-bottom: 100px ;
  }

.article-title {
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}
.article-title:hover {
    text-decoration: underline;
    color: black;
    text-shadow: 0 4px 8px black;
}
